import(splines)
import(glm2)
importFrom("itertools2", "iproduct")
importFrom("iterators", "nextElem")
importClassesFrom(Matrix)
importMethodsFrom(Matrix)
importFrom("grDevices", "dev.new", "rainbow")
importFrom("graphics", "abline", "lines", "plot")
importFrom("stats", ".MFclass", ".checkMFClasses", ".getXlevels",
           "AIC", "as.formula", "binomial", "confint.default",
           "constrOptim", "contr.treatment", "contrasts<-", "dbinom",
           "delete.response", "family", "formula", "get_all_vars",
           "glm.control", "glm.fit", "is.empty.model", "logLik",
           "model.frame", "model.matrix", "model.offset",
           "model.response", "na.fail", "na.pass", "napredict",
           "naprint", "nobs", "pnorm", "predict", "printCoefmat",
           "quantile", "reformulate", "relevel", "residuals",
           "setNames", "stat.anova", "terms", "terms.formula",
           "update", "coef")
S3method(confint,logbin)
S3method(anova,logbin)
S3method(anova,logbinlist)
S3method(vcov,logbin)
S3method(summary,logbin)
S3method(print,summary.logbin)
S3method(predict,logbin)
S3method(predict,logbin.smooth)
S3method(plot,logbin.smooth)
export(B)
export(Iso)
export(logbin)
export(logbin.control)
export(anova.logbin)
export(anova.logbinlist)
export(confint.logbin)
export(nplbin)
export(predict.logbin)
export(print.summary.logbin)
export(summary.logbin)
export(vcov.logbin)
export(logbin.smooth)
export(predict.logbin.smooth)
export(plot.logbin.smooth)