import(splines)
import(glm2)
import(turboEM)
S3method(confint,logbin)
S3method(anova,logbin)
S3method(anova,logbinlist)
S3method(vcov,logbin)
S3method(summary,logbin)
S3method(print,summary.logbin)
S3method(predict,logbin)
S3method(predict,logbin.smooth)
S3method(plot,logbin.smooth)
export(B)
export(Iso)
export(logbin)
export(logbin.control)
export(anova.logbin)
export(anova.logbinlist)
export(confint.logbin)
export(contr.isotonic.rev)
export(conv.test)
export(nplbin)
export(predict.logbin)
export(print.summary.logbin)
export(summary.logbin)
export(vcov.logbin)
export(logbin.smooth)
export(interpret.logbin.smooth)
export(predict.logbin.smooth)
export(plot.logbin.smooth)